{% extends "base.html" %}

{% block title %}Lista de Articulos{% endblock %}

{% block content %}
    <h1>Artículos publicados</h1>
<div class="articulos-container">
    {% for articulo in articulos %}
        <div class="article-card">
            <h2>{{ articulo.titulo }}</h2>
            <p><small>Publicado el {{ articulo.fecha_publicacion }} | Cantidad: {{ articulo.cantidad }}</small></p>
            <p>{{ articulo.contenido }}</p>
        </div>
    {% empty %}
        <p>No hay artículos todavía.</p>
    {% endfor %}
</div>
{% endblock %}