{% extends "base.html" %}

{% block title %}Lista de Articulos{% endblock %}

{% block content %}
    <h1>Artículos publicados</h1>
<div class="articulos-container grid grid-cols-1 gap-6">
    {% for articulo in articulos %}
        <div class="article-card">
            <h2 class="text-lg font-semibold">{{ articulo.titulo }}</h2>
            <p class="text-sm font-light">Publicado el {{ articulo.fecha_publicacion }} | Cantidad: {{ articulo.cantidad }}</p>
            <p class="text-m">{{ articulo.contenido }}</p>

            <div class="me-interesa-container flex items-center gap-[10px] mt-[15px]">
                <a href="{% url 'me_interesa' articulo.id %}" class="btn {% if articulo.is_interesado %}bg-red-500 hover:bg-red-600{% else %}btn-primary{% endif %} px-3 py-1 rounded text-sm">
                    {% if articulo.is_interesado %}
                        Ya no me interesa
                    {% else %}
                        Me interesa
                    {% endif %}
                </a>
                <p>A {{ articulo.interesados.count }} persona(s) les interesa.</p>
            </div>
        </div>
    {% empty %}
        <p>No hay artículos todavía.</p>
    {% endfor %}
</div>

<h1>¿Te interesa alguno de nuestros productos? ¡<a href="{% url 'contacto' %}">Contactanos</a>,haz una reserva y consiguelo en alguna de nuestras tiendas!</h1>
{% endblock %}